<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Orders</title>
</head>
<body>

<h2>Create an Order</h2>

<form th:action="@{/orders/create}" th:method="POST" th:object="${newOrder}">
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input th:field="*{email}" class="form-control" id="email" type="text" name="email" placeholder="Please enter your email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="totalPrice">Total Price</label>
        <input th:field="*{totalPrice}" type="text" class="form-control" id="totalPrice" name="totalPrice" placeholder="Total price">
    </div>
    <div class="d-grid">
        <button class="btn btn-dark btn-block">Create Order</button>
    </div>
</form>

</body>
</html>